.wea-wrap {
    background: linear-gradient(#2869e9,#79bfff);
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(0,0,0,.15);
    z-index: 2147483600;
    transition: visibility 0s .2s,opacity 0s .2s;
    color: #fff;
    height: 235px;
    width: 220px;
    margin: 10px;
  }
  
  .wea-whe {
    margin: 14px 14px 10px;
    min-width: 86px;
    display: inline-table;
    font-family: PingFang SC,Microsoft YaHei UI Light,STHeitiSC-Light,Microsoft YaHei UI,Microsoft YaHei;
  }
  .wea-city {
    font-size: 14px;
    color: #fff;
    display: inline-block;
  }
  .wea-time {
    display: inline-block;
    font-size: 12px;
    color: hsla(0,0%,100%,.6);
    text-align: left;
    margin-left: 5px;
  }
  .wea-l-w {
    padding: 0 0 1px 0;
  }
  .wea-img {
    width: 45px;
    height: 45px;
    background-image: url(//cdn.sencdn.com/widget/static/img/2-64ca3a9.svg);
    background-size: 45px 45px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 0 0 12px;
  }
  .wea-list {
    display: inline-block;
    margin: -6px 0 0 12px;
    text-align: left;
  }
  .wea-tep {
    position: relative;
    top: -4px;
    font-size: 30px;
  }
  .wea-deg {
    position: relative;
    top: -10px;
    font-size: 20px;
  }
  div.wea-text {
    font-size: 10px;
    margin-top: -4px;
    text-align: center;
    display: block;
  }
  .wea-t2 {
    font-family: PingFangSC-Light,Microsoft YaHei UI Light,Microsoft YaHei UI,Microsoft YaHei;
    display: inline-block;
    float: right;
    margin: 0 10px 0 0;
  }
  .wea-t2-1{
    margin-top: 3px;
    text-align: left;
    font-size: 12px;
    color: #fff;
  }
  .wea-tt {
    box-shadow: 0 -1px hsla(0,0%,100%,.2);
    margin-top: 10px;
    padding: 4px 0 8px;
    text-align: center;
    font-family: PingFang SC,Microsoft YaHei UI Light,STHeitiSC-Light,Microsoft YaHei UI,Microsoft YaHei;
  }
  .wea-t3,.wea-t4,.wea-t5 {
    box-shadow: 1px 0 hsla(0,0%,100%,.2);
    display: inline-table;
    width: 33%;
    font-size: 12px;
  }
  .wea-t6{
    cursor: pointer;
      width: 150px;
      margin: 0 auto;
      padding: 0 0 14px;
      font-size: 12px;
      color: hsla(0,0%,100%,.6);
      text-align: center;
  }

  .wea-t3-2{
    width: 24px;
    height: 24px;
    background-image: url(//cdn.sencdn.com/widget/static/img/11-4e0fb07.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    margin: 8px auto;
  }